<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img/fire_shortcut_icon.png" type="image/x-icon">
    <title>Contact Email</title>
</head>
<body>
    <style>
        body {
            background-color: black;
            overflow-x: hidden;
            width: 100%;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            line-height: 1.5;
        }
        .container {
            display: flex;
            flex-direction: column;
            margin: 25px auto;
            width: 500px;
            height: 675px;
            background-color: white;
            border-radius: 2%;
            padding: 30px;
        }

        h2 {
            margin: 10px 20px;
        }

        form {
            display: block;
            text-align: center;
        }

        .mb-2 {
                margin: 35px 0;
        }

        input#name, input#email, input#proyect, input#subject {
            display: block;
            width: 90%;
            margin: auto;
            height: 40px;
            font-size: 17px;
            padding-left: 10px;
        }

        textarea {
            display: block;
             margin: auto;
             font-size: 17px;
             padding-left: 10px;
             width: 91%;
        }

        ::placeholder {
            color: grey;
            font-size: 16px;
        }

        .contact-item-form {
        }

         .a {
            padding: 12px 32px;
            border-radius: 6px;
            color: #333;
            font-size: 16px;
            background: #0ef;
            box-shadow: 0 0 10px #0ef;
            text-align: center;
            margin-top: 10px;
            cursor: pointer;
            border: none;
            outline: none;
            font-weight: 600;
         }

         .mt-1 {
            margin-top: 75px;
         }

                  input#submit:hover {
                    opacity: 0.9;
                  }

                  @media (max-width: 600px) {
                    .container {
                        width: 325px;
              margin: 20px auto;

                    }
                  }

                                    @media (max-width: 400px) {
                    .container {
                        width: 250px;
              margin: 10px auto;

                    }
                  }



                   a{
                    text-decoration: none;
                    color: black;
                   }

    </style>
    {{{body}}}

    <script src=" https://smtpjs.com/v3/smtp.js"></script>
    <script src="js/formEmail.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>