<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img/fire_shortcut_icon.png" type="image/x-icon">
    <title>Contact Email</title>
</head>
<body>
    <style>

        :root {
            --primary-color: #0ef;
            --background-color: #1f242d;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }


        body {
            background-color: var(--background-color);
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

       .container h2 {
            font-size: 40px;
            color: #ededed;
            text-align: center;
            margin-bottom: 20px;
        }


        .container form {
            width: 600px;
            text-align: center;
        }

        .container form .flex {
            display: flex;
            justify-content: space-between;
        }


        .container form .item {
            width: 100%;
            padding: 18px;
            outline: none;
            border: 2px solid var(--primary-color);
            background-color: transparent;
            border-radius: 6px;
            font-size: 16px;
            color: #ededed;
            margin: 12px 0;
        }

        .container form .item::placeholder {
            color: rgba(255, 255, 255, .3);
        }

        .container form .contact-item-form {
            width: 48.5%;
        }

        .container form .textarea-field  {
            resize: none;
        }


       .btn {
            box-shadow: 0 0 10px #0ef;
            background: #0ef;
            color: #333;
            padding: 12px 32px;
            border-radius: 6px;
            margin-top: 20px;
            cursor: pointer;
            border: none;
            outline: none;
            letter-spacing: 1px;
            font-weight: 600;
        }

        form button:hover {
            box-shadow: none;
        }

        a {
            text-decoration: none;
            color: #333;
        }

        @media (max-width: 600px) {
            .container form .flex {
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
            }

            .container form .contact-item-form {
            width: 50%;
            }

            .container form .flex-textarea {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }


        .container form .contact-item-form-textarea {
            width: 50%;
            text-align: center;

        }


            body {
                flex-direction: column;
                width: 100vw;
            }

       .btn {
        width: 50%;
        align-items: center;
        justify-content: center;
       }



        @media (max-width: 500px) {


        }
    </style>
    {{{body}}}

    <script src=" https://smtpjs.com/v3/smtp.js"></script>
    <script src="js/formEmail.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>