
<div class="container">
                    <h2>GET IN TOUCH</h2>

                    <form id="form">
                        <div class="flex">
                             <div class="contact-item-form mb-2">
                                <input class="item" type="text" id="name" name="name" placeholder="Full Name" autocomplete="off" required>
                            </div>
                            <div class="contact-item-form mb-2">
                                <input  class="item" type="email" id="email" name="email" placeholder="Email Address" autocomplete="off" required >
                            </div>
                        </div>
                        <div class="flex">
                            <div class="contact-item-form mb-2">
                                <input class="item"  type="text" id="proyect" name="proyect" placeholder="Proyect Name" autocomplete="off"  required>
                            </div>
                            <div class="contact-item-form mb-2">
                                <input class="item"  type="text" id="subject" name="subject" placeholder="Subject" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="flex-textarea">
                            <div class="contact-item-form-textarea textarea-field mb-2">
                                <textarea class="item"  name="msg" id="msg" cols="30"  rows="8" placeholder="Message" autocomplete="off" required></textarea>
                            </div>
                        </div>
                            <button class="btn" type="submit" id="submit">Send Email</button>

                             <a href="/"><h3 class="btn">Back to Home</h3></a>

                    </form>


</div>