
<div class="container">
                    <h2>GET IN TOUCH</h2>

                    <form id="form">
                        <div class="contact-item-form-1 mb-2">
                            <input type="text" id="name" name="name" placeholder="Your Name" autocomplete="off" required>
                        </div>
                        <div class="contact-item-form-2 mb-2">
                            <input type="email" id="email" name="email" placeholder="Email" autocomplete="off" required >
                        </div>
                         <div class="contact-item-form-3 mb-2">
                            <input type="text" id="proyect" name="proyect" placeholder="Proyect Name" autocomplete="off"  required>
                        </div>
                        <div class="contact-item-form-1 mb-2">
                            <input type="text" id="subject" name="subject" placeholder="Subject" autocomplete="off" required>
                        </div>
                        <div class="contact-item-form-4 mb-2">
                            <textarea name="msg" id="msg"  rows="8" placeholder="Message" required></textarea>
                        </div>
                        <div class="contact-item-form-5">
                            <input class="a" type="submit" id="submit" value="Send" >
                        </div>
                    </form>

            <a href="/"><h3 class="a mt-1">Back to Home</h3></a>

</div>